* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

@font-face {
  font-family: "DFNMingXBold-B5";
  src: url("../fonts/DFNMing-W9-WIN-BF.eot");
  src: url("../fonts/DFNMing-W9-WIN-BF.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DFNMing-W9-WIN-BF.woff2") format("woff2"),
    url("../fonts/DFNMing-W9-WIN-BF.woff") format("woff"),
    url("../fonts/DFNMing-W9-WIN-BF.ttf") format("truetype"),
    url("../fonts/DFNMing-W9-WIN-BF.svg#DFNMing-W9-WIN-BF") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Microsoft JhengHei, 微軟正黑體, sans-serif;
}

.banner {
  width: 100%;
  padding: 2% 5%;
  background-color: #527aa7;
  color: #fff;
  font-size: 2em;
  text-shadow: 1.5px 1.5px 2px #333;
  font-family: "DFNMingXBold-B5";
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.selector_box {
}
#year_options,
#subject_options {
  display: none;
}
#year_options.active,
#subject_options.active {
  display: block;
}
.selector_box .selector {
  width: 100%;
  margin: 10px 0;
}
.selector_box .selector .title {
  font-size: 1.5em;
  padding: 0 10px;
}
.selector_box .selector .button_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.selector_box .selector .button_box .button {
  width: 135px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #d3edea;
  color: #000;
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.selector_box .selector .button_box .button.active {
  background-color: #99c3c9;
}

.subject_wrapper {
}
.subject_wrapper .subject_box {
  margin: 10px 0;
}
.subject_wrapper .subject_box .title {
  width: 100%;
  background-color: #58c4b6;
  color: #fff;
  text-shadow: 1.5px 1.5px 2px #333;
  padding: 10px;
  border-radius: 5px;
}
.subject_wrapper .subject_box .subject_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 100%;
}

.subject_wrapper .subject_box .subject_group .subject {
  width: 155px;
  padding: 10px;
  background-color: #d3edea;
  color: #000;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.subject_wrapper .subject_box .subject_group .subject.show {
  display: block;
}
.subject_wrapper .subject_box .subject_group .subject.chinese {
  /* background-color: #123; */
}

.scroll_top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 70%;
  }

  .selector_box .selector .button_box .button,
  .subject_wrapper .subject_box .subject_group .subject {
    width: 165px;
    padding: 20px 0;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 50%;
  }

  .selector_box .selector .button_box .button,
  .subject_wrapper .subject_box .subject_group .subject {
    width: 195px;
    padding: 30px 0;
    font-size: 1.8em;
  }
}
